    <div class="headerWrap">
          <div class="headerNav">
            <a href="index.html">Login</a> | 
            <a href="portfolio.html">Calander</a> 
          </div>
          <hr>
          <div class="headerName">
              <h1 class="appName">Study</h1> IMG <h1 class="appName"><h1>Buddy</h1>
          </div>
    </div>
    <br></br>
<hr>

<div id="contentContainer">
  <div class="buttonsContainer">
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
    </div>
    <hr>
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
    </div>
    <hr>
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
    </div>
  </div>
</div>
<br>
<hr>
<br>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
