/* .list-group-item {
  line-height: 2.5;
} */
html, body {
  margin: 0;

}

#mainContainer{
  background-color: #e8000d;
  height: 100%;
  background-image: url('../images/server_img.jpg');
background-size: cover;
background-repeat: no-repeat;

}

#contentContainer{

}

#jumbotron{
  color: #85898a;
  background-color: #0051ba;
}

a:link {
  color: #e8000d;
}

.headerNav{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  background-color: #85898a;
  color: #e8000d; 
  width: 100%;
  height: 80px;
}

/* .buttonsContainer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: right;
  margin-right: 15px;
}

.buttonsContainer > .btnContainer{
  grid-column-start: 3;
  grid-column-end: 4;
} */

.headerName{
  display: flex;
  justify-content: space-around;
  background-color: #0051ba;

}

.skew-fix{
  display:inline-block;
  transform: skew(20deg);
  font-size: 1em;
  font-weight: bolder;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

.btn {
  background: #85898a;
  box-shadow:10px 10px 0 rgba(0,0,0,.5);
  display:inline-block;
  font-size:2em;
  padding:.5em 1em;
  text-decoration:none;
  margin: 5px;
  transform: skew(-20deg);
  height: 3em;
  width: 10em;
}

.btn:hover {
  box-shadow: 0 0 0 ;
}
