.btn {
  background: #0051ba;
  box-shadow:10px 10px 0 rgba(0,0,0,.5);
  display:inline-block;
  padding:.9em 1em;
  text-decoration:none;
  margin: 5px;
  transform: skew(-20deg);
  width: 223px;
  color: white;
  opacity: .8;
}

.btn:hover {
  box-shadow: 0 0 0 ;
}

.btnContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 15px;
}

.btnRow {
  width: 100%;
}

.card {
  width: 100%;
}

.container--results {
  position: relative;
  height: 100%;
}

.container--results .row {
  position: relative;
  top: calc(50% - 128px);
}

.headerName {
  display: flex;
  justify-content: space-around;
  background-color: #0051ba;
}

.headerNav{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  background-color: #85898a;
  color: #e8000d; 
  width: 100%;
  height: 80px;
}

#jumbotron{
  color: white;
  background-color: #0051ba;
  opacity: .5;
  border: none;
}

#mainContainer{
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container--blog {
  position: relative;
  z-index: 1;
}

#results td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

#results th {
  background-color: #0051ba;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.skew-fix{
  display:inline-block;
  transform: skew(20deg);
  font-size: 1em;
  font-weight: bolder;
}

#survey-submit {
  background-color: #0051ba;
  color: #fff;
  font-size: 1.2em;
  margin-top: 4%;
  transform: none;
  width: 20%;
}

@media only screen and (max-width: 768px) {
  #survey-submit {
    background-color: #0051ba;
    color: #fff;
    font-size: .5em;
    margin-top: 4%;
    transform: none;
    width: 80px;
    text-align: center;
  }
  
}

tr{
  background-color: #85898a;
}
/* Chatroom styling */
/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/background.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */

}

ul {
  list-style: none;
  word-wrap: break-word;
}

ul.navbar-nav {
  width: 100%;
}

.nav-item_rightAlign {
  width: 100%;
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .nav-item_rightAlign {
    width: 100%;
    text-align: left;
  }
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

#signUp{
  color: white;
  margin-left: 2%;
  font-size: 1.5em;
}

h2{
  color: white;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}


#btnSub{
  background: #0051ba;
  box-shadow:10px 10px 0 rgba(0,0,0,.5);
  display:inline-block;
  font-size:1em;
  padding:.5em 1em;
  text-decoration:none;
  margin: 5px;
  transform: skew(-20deg);
  height: 3em;
  width: 10em;
  color: white;
  opacity: .8;
}

#btnSub:hover {
  box-shadow: 0 0 0 ;
}


/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

/* Member */

table#results {
  width: calc(100% - 20px);
  margin: 0px 10px;
}

/* Resources */

#html-links{
  grid-column: 1;
  grid-row: 2;
}

#js-links{
  grid-column: 2;
  grid-row: 2;
}

#css-links{
  grid-column: 3;
  grid-row: 2;
}

.resourceLinks, .resource-links{
  text-align: center;
  color: white;
}